language: python
python:
 - "3.4.3"
# command to install dependencies
install:
 - python setup.py install
 - pip install -r requirements.txt
# command to run tests

script:
 - python informacion/test.py